@media only screen and (max-width: 600px) {
    .mobi-nav {
        width: 100%;
        background: white;
        border-radius: 0;
        color: #fff;
        height: 60px;
        line-height: 50px;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 999;
        padding: 5px;
        margin: 0;
        box-shadow: 0 4px 10px 0 #000;
    }

    .mobi-nav ul {

        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .mobi-nav ul li {
        transform: translateY(-5%);
        float: left;
        width: 20%;
        height: 50px;
    }

    .mobi-nav ul > li a {
        text-decoration: none;
        color: #000;
        border-radius: 5px;
        display: inline-grid;
        font-size: 10px;
        place-items: center;
    }

    .mobi-nav span {
        transform: translateY(-35%);
    }

    .mobi-nav .phone-mobi {
        transform: translateY(-45%);
    }

    .mobi-nav .phone-mobi span {
        transform: translateY(-15%);
    }
}
@media only screen and (min-width: 601px) {
    .mobi-nav {
        display: none;
    }
}
